.title {
  text-align: center;
}

.book_kind {
  display:flex;
  justify-content: center;
  list-style: none;
  margin-right: 60px;
} 

.logo {
  height: 60px;
}
.book_kinds {
  display:flex;
  justify-content: center;
  list-style: none;
}

.lists {
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  display: flex;
  align-items: flex-start;
  /* margin-right: 60px; */
}

.list {
  margin-top: 50px;
}

.list_detail{
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

.book_detail{
  width: 300px;
}

.thumbnail {
  width: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
}